<!-- app/views/heats/show_anime.html.erb -->
<h1 class="text-xl font-bold my-4">Animes with Heat: <%= @heat.value %></h1>
<table class="table-auto w-full bg-white">
  <thead class="bg-gray-800 text-white">
    <tr>
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">Title</th>
      <th class="px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="border-b">
      <td class="border px-4 py-2"><%= @anime.id %></td>
      <td class="border px-4 py-2"><%= @anime.title %></td>
      <td class="border px-4 py-2">
        <%= link_to 'View Details', anime_path(@anime), class: "text-blue-500 hover:underline" %>
      </td>
    </tr>
  </tbody>
</table>
