<!-- app/views/animes/index.html.erb -->
<h1 class="text-xl font-bold my-4">Anime List</h1>
<table class="table-auto w-full">
  <thead>
    <tr class="bg-gray-200">
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">Title</th>
      <th class="px-4 py-2">Details</th>
    </tr>
  </thead>
  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td class="border px-4 py-2"><%= anime.id %></td>
        <td class="border px-4 py-2"><%= anime.title %></td>
        <td class="border px-4 py-2"><%= link_to 'View Details', anime_path(anime), class: "text-blue-500 hover:text-blue-800" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
