<!-- app/views/animes/index.html.erb -->
<div class="container mx-auto">
  <h1 class="text-xl font-bold my-4">Anime List</h1>
  <div class="grid grid-cols-2 gap-4">   
    <% @animes.each do |anime| %>
      <div class="bg-white shadow-md rounded p-4">
        <p class="border px-4 py-2"><strong>ID:</strong> <%= anime.id %></p>
        <p class="border px-4 py-2"><strong>Title:</strong> <%= anime.title %></p>
        <p class="border px-4 py-2">
          <%= link_to 'View Details', anime_path(anime), class: "text-blue-500 hover:underline" %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= paginate @animes %>
  </div>
</div>
